<!DOCTYPE HTML>
<html>
  <head>
    <title>About | GameGlobs</title>
    <!-- Load Google font -->
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- Load favicon and other icons -->
    <! -- Load favicon and other icons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename = 'apple-touch-icon.png') }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename = 'apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename = 'apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename = 'apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename = 'apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename = 'apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename = 'apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename = 'apple-touch-icon-152x152.png') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename = 'apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename = 'apple-touch-icon-60x60.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename = 'apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename = 'apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename = 'apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename = 'apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename = 'apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename = 'apple-touch-icon-152x152.png') }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename = 'apple-touch-icon-180x180.png') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'android-chrome-192x192.png') }}" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="{{ url_for('static', filename = 'smalltile.png') }}" />
    <meta name="msapplication-square150x150logo" content="{{ url_for('static', filename = 'mediumtile.png') }}" />
    <meta name="msapplication-wide310x150logo" content="{{ url_for('static', filename = 'widetile.png') }}" />
    <meta name="msapplication-square310x310logo" content="{{ url_for('static', filename = 'largetile.png') }}" />
  <style>
  a:link {
    color: #D8CF00;
    text-decoration: none;
  }
  a:visited {
    color: #D8CF00;
    text-decoration: none;
  }
  a:hover {
    color: #CCEEF7;
    text-decoration: none;
  }
  a:active {
    color: #D8CF00;
    text-decoration: none;
  }
  body {
    font-family: 'Josefin Sans', sans-serif;
  }
  .footer {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
  }
  div.footer a:link {
    color: black;
    text-decoration: none;
  }
  div.footer a:visited {
    color: black;
    text-decoration: none;
  }
  div.footer a:hover {
    color: #D8CF00;
    text-decoration: none;
  }
  div.footer a:active {
    color: black;
    text-decoration: none;
  }
  .goBack {
    font-size: 20px;
  }
  .header {
    width: 50%;
    font-size: 36pt;
    font-weight: 300;
    }
  .text {
    width:50%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20pt;
    font-weight: 300;
    line-height: 117%;
  }
  </style>
  </head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <center>
  <!-- Display GameGlobs logo as a link back to the home page -->
  <div class=goBack>
    <a href='/gameglobs'>
      <img border="0" alt="Go back" src={{ url_for('static', filename = 'gameglobs_logo.png') }} height="38">
    </a>
  </div>
  <!-- About text -->
  <div class=text>
    <br><hr noshade="" color="black" ;="" size="1" width="78%"><br>
    GameGlobs is a series of videogame clustering visualizations created at the UC Santa Cruz
      <a href="https://games.soe.ucsc.edu/" target="_blank">Center for Games and Playable Media</a>
      as part of the larger <a href="http://gamecip.soe.ucsc.edu/" target="_blank">
      Game Metadata and Citation Project</a> (GAMECIP). Its development was lead
      by undergragraduate student Timothy Hong and graduate students
      <a href="http://users.soe.ucsc.edu/~jor/" target="_blank">James Ryan</a> and
      <a href="http://erickaltman.com/" target="_blank">Eric Kaltman</a>, with professors
      <a href="https://games.soe.ucsc.edu/people/noah-wardrip-fruin" target="_blank">Noah Wardrip-Fruin </a> and
      <a href="https://users.soe.ucsc.edu/~michaelm/" target="_blank">Michael Mateas</a> as their primary advisers.
      It belongs to a suite of related tools that can all be found
      <a href="http://gamecip.soe.ucsc.edu/projects" target="_blank">here</a>.
    <br><br>
    For technical details about how GameGlobs works and other information,
      see our <a href="/gameglobs/faq">FAQ</a>, or feel free
      to <a href="mailto:jor@soe.ucsc.edu" target="_top">contact us</a>.
    <br><br>
    This tool was made possible in part by Institute of Museum and Library Services grant LG-06-13-0205-13.
    <br><br><hr noshade="" color="black" ;="" size="1" width="78%"><br>
  </div>
  <br><br><br><br>
  <div class="footer">
    <a href="/gameglobs/about"><font color="#D8CF00">About</font></a>
    &nbsp;&nbsp;&nbsp;
    <a href="mailto:jor@soe.ucsc.edu?cc=ekaltman@soe.ucsc.edu" target="_top">Contact</a>
    &nbsp;&nbsp;&nbsp;
    <a href="/gameglobs/faq">FAQ</a>
  </div>
  </center>
</html>
